<%= form_with scope: :user, :html => {:class => "col-xs-12 col-sm-12 col-md-12"}, url:user_create_path, local: true, method: :post do |form| %>
  
  <p>
    <%= form.label :first_name, class:"listingtext" %><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name, class:"listingtext" %><br>
    <%= form.text_field :last_name %>
  </p>
  
  <p>
    <%= form.label :email, class:"listingtext" %><br>
    <%= form.text_field :email %>
  </p>
 
  <p>
    <%= form.label :password, class:"listingtext" %><br>
    <%= form.text_area :password %>
  </p>

   <p>
    <%= form.label :phone_number, class:"listingtext" %><br>
    <%= form.text_area :phone_number %>
   </p>

    <p> Choose profile picture! 
        <%= form.file_field :avatar %>
    </p>

    <p>
        <%= form.submit class:"btn btn-success" %>
    </p>
<% end %>